@mixin btn {
  font-family: 'Open Sans', sans-serif;
  appearance: none;
  border: none;
  background: none;
  padding: 0;
  cursor: pointer;
}

@mixin input {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  padding: 0;
  border-radius: 0;
}
