@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');

$breakpoints: (medium: 800px);
@import "_include-media";

@import "base";

@import "routes/index";
@import "routes/ballot";
@import "routes/all-races";

@import "components/ballot-form";
@import "components/ballot-parties";
@import "components/action-button";
@import "components/ballot-switcher";
@import "components/race-detail";
@import "components/candidate-info";
@import "components/site-header";
@import "components/site-footer";

.app-background {
  position: relative;

  background-color: #333;
  background-image: url('/assets/images/liberty.jpg');
  background-position: 20% top;
  background-size: 2584px 1512px;
  background-repeat: no-repeat;
  overflow: auto; // include nested margins in height

  .not-embedded & {
    min-height: 100vh;
  }
}
