@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');

$breakpoints: (medium: 800px);
@import "_include-media";

@import "base";

@import "routes/index";
@import "routes/ballot";

@import "components/ballot-form";
@import "components/ballot-parties";
@import "components/action-button";
@import "components/ballot-switcher";
@import "components/race-detail";
@import "components/candidate-info";
@import "components/site-header";

.app-background {
  min-height: 100vh;
  background-image: linear-gradient(to top, #222, rgba(#222, 0.25) 55%);
  overflow: auto; // include nested margins in height
}

$ember-power-select-default-border: none;
$ember-power-select-default-border-radius: 0;
$ember-power-select-trigger-border-bottom: 2px dashed $blue;
$ember-power-select-option-padding: 0;
$ember-power-select-trigger-ltr-padding: 0 25px 0 0;
$ember-power-select-trigger-icon-color: $blue;

@import "ember-power-select";
