@import "../mixins/layout";
@import "../mixins/forms";

.ballot-parties__list {
  list-style: none;
  padding: 0 15px;
  margin: 0 auto;

  max-width: 275px;

  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  > li {
    text-align: center;
    flex-basis: 33%;
    margin-bottom: 15px;
  }

  @include media('>=medium') {
    flex-wrap: nowrap;
    max-width: 350px;

    > li {
      flex-basis: auto;
      margin: 0 5px;
    }
  }
}


.ballot-parties__button {
  @include btn;

  font-size: 18px;
  font-weight: bold;
  color: white;
  text-transform: capitalize;

  border: 2px solid white;
  border-radius: 31px;
  padding: 5px 12px;

  transition: all 125ms ease;

  &.active {
    color: black;
    background-color: $yellow;
    border-color: $yellow;
  }

  &:not(.active):hover {
    border-color: rgba(white, 0.2);
  }

  @include media('>=medium') {
    width: 107px;
  }
}
