.ballot-switcher {
  font-weight: bold;
  font-size: 24px;
  color: white;

  margin-bottom: 65px;
}

.ballot-switcher__dropdown {
  margin-bottom: 30px;
  position: relative;

  &:after {
    content: '';
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;

    height: 0;
    width: 0;
    border-width: 5px;
    border-style: solid;
    border-color: transparent;
    border-top-color: $blue;

    pointer-events: none;
  }
}

.ballot-switcher__field {
  appearance: none;
  background: transparent;
  border: none;
  color: white;
  font-weight: bold;
  border-bottom: 2px $blue dashed;
  padding-bottom: 6px;
  padding-right: 20px;
  border-radius: 0;

  &:focus {
    outline-offset: 2px;
  }
}
