@import "../mixins/forms";
@import "../mixins/layout";

.ballot-form {
  text-align: center;
}

.ballot-form__sub {
  color: white;
  font-size: 18px;
  margin-bottom: 15px;
}

.ballot-form__input {
  margin-bottom: 35px;
}

.ballot-form__field {
  @include input;
  width: 100%;
  border: 4px solid $blue;
  padding: 15px;
  font-size: 22px;

  &::placeholder {
    font-style: oblique;
    font-weight: 300;
    color: #aaa;
  }
}

.ballot-form__button-lineup {
  @include layout($max-width: 250px);

  list-style: none;
  padding: 0;

  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  > li {
    flex-basis: 33%;
    margin-bottom: 15px;
  }

  margin-bottom: 20px;
}

.ballot-form__submit {
  @include btn;

  border:4px solid $blue;
  border-radius: 31px;

  color: white;
  font-size: 20px;
  font-weight: bold;
  padding: 10px 30px;
  margin-bottom: 20px;

  &[disabled] {
    opacity: 0.2;
  }
}

.ballot-form__privacy {
  color: white;
  font-style: oblique;
  font-size: 12px;
}

.ballot-form__error {
  color: white;
  font-size: 18px;
  font-weight: bold;

  background-color: $pink;
  padding: 10px 25px;
}

.ballot-form__suggestion-list {
  list-style: none;
  margin: 0 0 25px 0;
  padding: 0 15px;
}

.ballot-form__suggestion {
  margin-bottom: 15px;

  > .action-button {
    font-weight: bold;
    font-size: 18px;
    background-color: $blue;
    color: white;

    padding: 15px 30px;
    border-radius: 31px;
  }
}
