.race-detail {
  position: relative;

  border: 1px solid $yellow;
  border-top: none;
  padding: 35px 23px 15px;

  &:before,
  &:after {
    content: '';
    height: 1px;
    background-color: $yellow;
    position: absolute;
    top: 0;
    width: 20%;

    @include media('>=425px') {
      width: 25%;
    }

    @include media('>=650px') {
      width: 30%;
    }
  }

  &:before {
    left: 0;
  }

  &:after {
    right: 0;
  }

  &.is-empty {
    padding: 15px;
    border-top: 1px solid $yellow;

    @include media('>=medium') {
      padding: 75px;
    }

    &:before,
    &:after {
      content: none;
    }
  }
}

.race-title {
  position: absolute;
  top: -20px;
  left: 0;
  right: 0;
  width: 100%;
  text-align: center;

  font-size: 31px;
  font-weight: bold;
  color: $yellow;
}

.race-title--empty {
  font-weight: bold;
  color: white;
  font-size: 25px;
  text-align: center;
}

.race-summary {
  color: white;
  font-size: 18px;
  line-height: 1.67;
  text-align: center;
  margin-bottom: 45px;
}

.race-candidates {
  display: flex;
  flex-wrap: wrap;
}

.race-candidate__item {
  flex: 1 1 100%;

  @include media('>=medium') {
    flex-basis: 50%;
  }
}
