@import "../mixins/layout";

.site-footer {
  padding: 0 15px;
  margin-bottom: 85px;

  .pin {
    width: 22px;
    fill: white;
  }

  .calendar {
    fill: white;
    width: 35px;
  }

  @include media('>=medium') {
    display: flex;
    justify-content: center;
    @include layout($max-width: 800px);
  }
}

.site-footer__row {
  display: flex;
  margin-bottom: 35px;

  @include media('>=medium') {
    flex: 1 0 auto;

    justify-content: center;
  }
}

.site-footer__icon {
  flex-basis: 35px;
  margin-right: 25px;
  text-align: center;
}

.site-footer__body {
  flex: 1;

  a {
    color: $blue;
    font-size: 24px;
  }
}
