@import "../mixins/layout";

.site-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 45px 0;

  .site-header__logo {
    flex: 1 1 20%;

    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.wnyc-logo {
  max-width: 60px;
}

.gg-logo {
  max-width: 90px;

}

.city-limits-logo {
  max-width: 80px;
}

@include media('>=medium') {

  .site-header {
    @include layout($max-width: 900px);
    margin-top: 45px;
    margin-bottom: 45px;
  }

  .wnyc-logo {
    max-width: 100px;
  }

  .gg-logo {
    max-width: 200px;

  }

  .city-limits-logo {
    max-width: 150px;
  }
}
