<select class="ballot-switcher__field" onchange={{action changeHandler}}>
{{#each districts as |district|}}
  <option value={{district.id}} selected={{eq chosen district.id}}>
    District {{district.id}}
  </option>
{{/each}}
</select>
