<select class="ballot-switcher__field" onchange={{action changeHandler}}>
{{#each options as |option|}}
  <option value={{option}} selected={{eq chosen option}}>
    District {{option}}
  </option>
{{/each}}
</select>
