{{#power-select
  options=districts
  selected=selected
  onchange=(action onChange)
  renderInPlace=true
  searchEnabled=false
  as |district|}}
  Ballot for <span class="ballot-dropdown__selected">District {{district}}</span>
{{/power-select}}
