<div class="site-header__logo">
  <img src="/images/logos/wnyc-logo.svg" class="wnyc-logo" alt="WNYC Logo">
</div>
<div class="site-header__logo">
  <img src="/images/logos/gg-logo-white.svg" class="gg-logo" alt="Gotham Gazette Logo">
</div>
<div class="site-header__logo">
  <img src="/images/logos/city-limits-logo.png" class="city-limits-logo" alt="City Limits Logo">
</div>
