<div class="site-header__logo">
  {{partial 'icons/wnyc-logo'}}
</div>
<div class="site-header__logo">
  {{partial 'icons/gg-logo-white'}}
</div>
<div class="site-header__logo">
  <img src="/assets/images/logos/city-limits-logo.png" class="city-limits-logo" alt="City Limits Logo">
</div>
