<div class="site-header__logo">
  <a href="https://www.wnyc.org" target="_blank">
    {{partial 'icons/wnyc-logo'}}
  </a>
</div>
<div class="site-header__logo">
  <a href="http://www.gothamgazette.com" target="_blank">
    {{partial 'icons/gg-logo-white'}}
  </a>
</div>
<div class="site-header__logo">
  <a href="https://citylimits.org/" target="_blank">
    <img src="/assets/images/logos/city-limits-logo.png" class="city-limits-logo" alt="City Limits Logo">
  </a>
</div>
