<div class="site-footer__row">
  <div class="site-footer__icon">
    <a href={{calendarLink}} download="NY Primary 2018" title="Remember to vote on June 26">
      {{partial 'icons/calendar'}}
    </a>
  </div>

  <div class="site-footer__body">
    <a href={{calendarLink}} download="NY Primary 2018" title="Remember to vote on June 26">Remember to vote on June 26</a>
  </div>
</div>

<div class="site-footer__row">
  <div class="site-footer__icon">
    <a href="https://nyc.pollsitelocator.com/search" target="_blank" title="Find your poll site">
      {{partial 'icons/pin'}}
    </a>
  </div>

  <div class="site-footer__body">
    <a href="https://nyc.pollsitelocator.com/search" target="_blank" title="Find your poll site">Find your poll site</a>
  </div>
</div>
