<div class="site-footer__row">
  <div class="site-footer__icon">
    {{partial 'icons/calendar'}}
  </div>

  <div class="site-footer__body">
    <a href="">Remember to vote on June 26</a>
  </div>
</div>

<div class="site-footer__row">
  <div class="site-footer__icon">
    {{partial 'icons/pin'}}
  </div>

  <div class="site-footer__body">
    <a href="https://nyc.pollsitelocator.com/search" target="_blank">Find your Poll Site</a>
  </div>
</div>
