@import "../mixins/layout";

.ballot-layout {
  @include layout($max-width: 879px);
  margin-bottom: 75px;
}

.ballot-header {
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 0.5px;
  text-align: center;
  color: $yellow;
  margin-bottom: 30px;
}

.ballot-switcher-lockup {
  display: flex;
  align-items: baseline;
  justify-content: center;
}

.ballot-switcher-label {
  margin-right: 10px;
}
