<div class="ballot-layout">

  <h2 class="ballot-header">2018 NY State Primary Election Voter Guide</h2>

  {{#ballot-switcher as |switcher|}}

    <div class="ballot-switcher-lockup">
      <span class="ballot-switcher-label">
        View Other Races:
      </span>
      {{switcher.dropdown
        races=model.allDistrictRaces
        selected=model.selected
        onChange=(action update 'district')
      }}
    </div>

  {{/ballot-switcher}}

  {{#each model.races as |race|}}
    {{race-detail race=race party=model.party}}
  {{/each}}

  {{#if (not model.hasDistrictRaces)}}
  <p class="ballot-switcher__caveat-election-text">Some addresses will only
    return state-wide races (Gov, Lt. Gov, AG) because we don’t have analysis
    of every State Assembly and State Senate race. In those cases, please add
    this copy to the bottom of the page: “We did not analyze your State
    Assembly or State Senate races. Uncontested races are also not included in
  this guide.</p>
  {{/if}}

</div>

{{site-footer}}

<div class="more-races">
  <div class="more-races__link">
    {{link-to 'See More Races' 'index'}}
  </div>

  <p>
    <em>Note: Uncontested races are not included in this guide.</em>
  </p>
</div>
