<div class="ballot-layout">

  <h2 class="ballot-header">2018 NY State Primary Election Voter Guide</h2>

  {{#ballot-switcher as |switcher|}}

    <div class="ballot-switcher-lockup">
      <span class="ballot-switcher-label">
        Switch Race:
      </span>
      {{switcher.dropdown
        races=model.allDistrictRaces
        selected=model.selected
        onChange=(action update 'district')
      }}
    </div>

  {{/ballot-switcher}}

  {{#each model.races as |race|}}
    {{race-detail race=race party=model.party}}
  {{/each}}

</div>

{{site-footer}}

<div class="more-races">
  <div class="more-races__link">
    {{link-to 'See More Races' 'index'}}
  </div>

  <p>
    <em>Note: Uncontested races are not included in this guide.</em>
  </p>
</div>
