<div class="ballot-layout">

  <h2 class="ballot-header">2018 NY State Primary Election Voter Guide</h2>


    <div class="more-races">
      <div class="more-races__link">
        {{link-to 'View All Races' 'all-races'}}
      </div>
    </div>


    <p class="ballot-switcher__ss13-warning">
      {{#if (eq model.selected "13")}}
        NOTE: You will only be voting in one assembly race on election day,
        depending on your district.
      {{/if}}
    </p>

  {{#each model.races as |race|}}
    {{race-detail race=race party=model.party}}
  {{/each}}

  {{#if (not model.hasDistrictRaces)}}
  <p class="ballot-switcher__caveat-election-text">Note: We did not analyze your
    State Assembly or State Senate races. Uncontested races are also not
    included in this guide.</p>
  {{/if}}

</div>

{{site-footer}}
