<div class="index-layout">
  <h2 class="index-header">NY 2018 Primary Voter Guide</h2>
  {{ballot-form}}
</div>

{{site-footer}}

<div class="more-races">
  <p>
    <em>Note: Uncontested races are not included in this guide.</em>
  </p>
</div>
