{{#if (has-block)}}
  {{yield (hash
    button=(component 'ballot-parties/button'
      party=party
      onClick=(action handleClick))
  )}}
{{else}}
  <ul class="ballot-parties__list">
    <li>
      {{ballot-parties/button 'dem' onClick=(action handleClick) party=party}}
    </li>
    <li>
      {{ballot-parties/button 'rep' onClick=(action handleClick) party=party}}
    </li>
  </ul>
{{/if}}
